<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LandingPageSIMECID.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header">
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Test">Test</a>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/LandingPageSIMECID">Landing</a>
                <li>Home</li>
                <li>About us</li>
                <li>FAQ</li>
            </ul>
            <div class="ContLogoHeader"><img class="LogoSimecidHeader" src="~/images/logosimecid.png" /> </div>
            <button class="login-btn">Log in</button>
        </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




    