@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* ---- CLASES GENERALES ---*/

:root {
    --greenMain-SideBar: #02b1a9; /* Fondo del sidebar */
    --whiteBackground: #ffffff; /* Fondo */
    --colorText: #333; /* Texto normal */
    --colorTextLight: #666; /* texto más claro */
    --colorLightGrey: #efefef; /* gris claro para distinguir del blanco */
    --greenLight1: #4ec8a4; /* Turqueza claro*/
    --greenMedium2: #2fa5a5; /* Turqueza medio */
    --greenDark3: #1f95a1; /* Turqueza Oscuro */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* para darle color a los titulos */
h1 {
    margin-top: 2%;
    color: var(--greenMedium2);
}

/* para darle color a los textos */
p {
    color: var(--colorText);
    line-height: 1.6;
}

/* para darle formato a los titulos */
.fontTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* Utiliza el peso 600 para semi-bold */
    line-height: 1.2;
}

.fontTitleNavBar {
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* Utiliza el peso 600 para semi-bold */
    line-height: 1.2;
}

/* para darle formato a los textos */
.fontText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* Utiliza el peso 600 para regular */
    line-height: 1.2;
}

/* ----CLASES PARA EL SIDEBAR------- */
.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
    background: var(--greenMain-SideBar);
}

/*Contenedor del logo y el título */
.containerLogo {
    width: 99%;
    display: flex;
    align-items: center;
    background-color: var(--whiteBackground);
    border: 2px solid #02B1A9;
}

/* Estilos para el logo mini */
.logoMini {
    width: 40%;
    margin: 2%;
}

/*Contenedor del boton del icono y nombre del usuario, e icono de settings*/
.buttonUser {
    display: flex;
    margin-top: 1%;
    padding: 10%;
    text-align: left;
    color: var(--whiteBackground);
    background-color: var(--greenMain-SideBar);
    border: 2px solid var(--greenMain-SideBar); /* Aunque no se vea, No se debe borrar el borde, porque cambia los padding y entonces las cosas se mueven */
    border-radius: 5px;
}

    .buttonUser:hover {
        border: 2px solid var(--whiteBackground); /* Agrega un borde al botón en el hover */
    }

.containerUser {
    padding: 2%;
    width: 90%;
    display: flex;
    justify-content: space-between; /* Para alinear los elementos en los extremos */
    align-items: center;
}

.userIcon {
    width: 10px;
    height: 10px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    overflow: hidden; /* Asegura que cualquier contenido adicional esté oculto dentro del círculo */
}

.userName {
    color: var(--whiteBackground);
    margin: 15% 5% 5% 5%;
    font-size: 2vh;
}

.buttonSettings {
    display: flex;
    margin: 2%;
    color: var(--whiteBackground);
    background-color: var(--greenMain-SideBar);
    border: none;
    border: 2px solid var(--greenMain-SideBar); /* Aunque no se vea, No se debe borrar el borde, porque cambia los padding y entonces las cosas se mueven */
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 16px;
}

    .buttonSettings:hover {
        border: 2px solid var(--whiteBackground); /* Agrega un borde al botón en el hover */
    }

.settingsIcon {
    color: var(--whiteBackground);
    width: 4vw;
    height: 4vh;
}

/*Menu del sidebar*/
.MainMenu {
    padding: 2%;
}

.buttonMenu {
    font-family: "Montserrat", sans-serif;
    display: block;
    padding: 5%;
    font-size: 2vh;
    text-decoration: none;
    color: var(--whiteBackground);
    background-color: var(--greenMain-SideBar);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid var(--greenMain-SideBar); /* Aunque no se vea, No se debe borrar el borde, porque cambia los padding y entonces las cosas se mueven */
    transition: border 0.2s;
}

    .buttonMenu:hover {
        border: 2px solid var(--whiteBackground); /* Agrega un borde al botón en el hover */
    }

.sidebarFooter {
    position: center;
    padding: 10%;
    font-size: 12px;
    color: white;
}

/*------ CLASES PARA EL CONTENIDO PRINCIPAL -----*/

.main-content {
    justify-content: center;
    flex-direction: column;
    align-content: center; 
    align-items:center; 
    margin-left:20%;
}

.profileHeader {
    background-image: url('../assets/SimecidHeader1.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el encabezado */
    text-align: center;
    height: 30vh; /* Ajusta la altura del encabezado según sea necesario */
    width: 100%;
    background-color: red;
}

.branchTitle {
    color: var(--greenLight1)
}

.serviceTitle {
    color: var(--greenMedium2)
}


.gestionDeCitas {
    margin-top: 5%;
}

.form-container {
    max-width: 30%;
    margin: 0 auto;
    padding: 2%;
}

.btn-send {
    width: 75%;
    margin-left: 20%;
    margin-bottom: 10%;
    padding: 3% 5%;
    background-color: #02B1A9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Montserrat", sans-serif;
}

.confirmation-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.sign-up-form label {
    justify-self: start;
    width: 30%;
    min-width: 50px;
    margin-bottom: 2%;
    margin-right: 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.sign-up-form input,
.sign-up-form textarea {
    width: 50%;
    min-width: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.sign-up-form select {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.buttonContainer {
    max-width: 30%;
    margin: 0 auto;
}

body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Ajusta la fuente según tu preferencia */
}

.main-content {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Estilos para centrar los títulos */
.branchTitle,
.serviceTitle,
.fontTitle {
    text-align: center;
}

.btn {
    width: 40%;
    margin-left: 20%;
    margin-bottom: 10%;
    padding: 2% 4%;
    background-color: #02B1A9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Montserrat", sans-serif;
}

    .btn:hover {
        background-color:   #666;
    }


/* ----CLASES PARA LA TABLA------- */
table {
    width: 100%;
    border-collapse: collapse;
    /* Otros estilos según tus preferencias */
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    /* Otros estilos según tus preferencias */
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 10px; /* Ajusta este valor según tu preferencia */
    overflow: hidden;
    margin-left: -10%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--whiteBackground);
}

th {
    background-color: var(--greenMain-SideBar);
    color: var(--whiteBackground);
}

.table-active,
.table-primary,
.table-secondary,
.table-success,
.table-danger,
.table-warning,
.table-info,
.table-light,
.table-dark {
    background-color: rgba(255, 255, 255, 0.075);
}

/*CLASES PARA EL CALENDARIO*/

.calendarAndTable{
    padding:2%;
    margin:2%;

}

.calendar-container {
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
}

.appointDate {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    width: 100%;
}

.date-form input,
.date-form textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.MarginPrimerH{

    margin-left: 20%;

}/*TABLA DE CITAS*/
.tableContainer {
    padding: 2%;
    margin-left: 5%;
    width: 90%;
}



