/*CLASES GENERALES*/

body {
    background-color: var(--whiteBackground);
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: <weight>;
    font-style: normal;
}

:root {
    --greenMain-SideBar: #02B1A9; /* Fondo del sidebar */
    --whiteBackground: #FFFFFF; /* Fondo */
    --colorText: #333; /* Texto normal */
    --colorTextLight: #666; /* texto más claro */
    --colorLightGrey: #EFEFEF; /* gris claro para distinguir del blanco */
    --greenLight1: #4EC8A4; /* Turqueza claro*/
    --greenMedium2: #2FA5A5; /* Turqueza medio */
    --greenDark3: #1F95A1; /* Turqueza Oscuro */
}


/*------ CLASES PARA EL CONTENIDO PRINCIPAL -----*/

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.branchTitle {
    color: var(--greenLight1)
}

.serviceTitle {
    color: var(--greenMedium2)
}


.gestionDeCitas {
    margin-top: 5%;
}

.form-container {
    max-width: 30%;
    margin: 0 auto;
    padding: 2%;
}

.btn-send {
    width: 75%;
    margin-left: 20%;
    margin-bottom: 10%;
    padding: 3% 5%;
    background-color: #02B1A9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Montserrat", sans-serif;
}

.confirmation-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.sign-up-form label {
    justify-self: start;
    width: 30%;
    min-width: 50px;
    margin-bottom: 2%;
    margin-right: 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.sign-up-form input,
.sign-up-form textarea {
    width: 50%;
    min-width: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.sign-up-form select {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.buttonContainer {
    max-width: 30%;
    margin: 0 auto;
}

body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Ajusta la fuente según tu preferencia */
}

.main-content {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Estilos para centrar los títulos */
.branchTitle,
.serviceTitle,
.fontTitle {
    text-align: center;
}

.btn {
    width: 40%;
    margin-left: 20%;
    margin-bottom: 10%;
    padding: 2% 4%;
    background-color: #02B1A9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Montserrat", sans-serif;
}

    .btn:hover {
        background-color:   #666;
    }


/* ----CLASES PARA LA TABLA------- */
.table-container {
    width: 100%; 
    margin-top: 2%;
}

table {
    border-collapse: collapse;
    background-color: var(--whiteBackground);
}

thead {
    background-color: var(--greenDark3);
    color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    border-bottom: 2px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

/*CLASES PARA EL CALENDARIO*/

.calendar-container {
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
}

.appointDate {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.date-form input,
.date-form textarea {
    width: 20%;
    min-width: 50px;
    border: 1px solid black;
    border-radius: 5px;
}


