/*CLASES GENERALES*/

body {
    background-color: var(--whiteBackground);
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: <weight>;
    font-style: normal;
}

:root {
    --greenMain-SideBar: #02B1A9; /* Fondo del sidebar */
    --whiteBackground: #FFFFFF; /* Fondo */
    --colorText: #333; /* Texto normal */
    --colorTextLight: #666; /* texto más claro */
    --colorLightGrey: #EFEFEF; /* gris claro para distinguir del blanco */
    --greenLight1: #4EC8A4; /* Turqueza claro*/
    --greenMedium2: #2FA5A5; /* Turqueza medio */
    --greenDark3: #1F95A1; /* Turqueza Oscuro */
}


/*------ CLASES PARA EL CONTENIDO PRINCIPAL -----*/

.main-content {
    width: 100%;
    margin-left: 10%;
}

.profileHeader {
    background-image: url('../assets/1_Doctor_Taking_Notes.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el encabezado */
    text-align: center;
    height: 30vh; /* Ajusta la altura del encabezado según sea necesario */
}


.gestionDeCitas {
    margin-top: 5%;
    text-align: center;
}

.form-container {
    max-width: 30%;
    margin: 0 auto;
    padding: 2%;
}

.confirmation-form {
width: 100%;
display: flex;
flex-direction: row;
margin-bottom: 3%;
text-align: right;
font-family: "Montserrat", sans-serif;
font-size: 16px;
}

.sign-up-form label {
    justify-self: start;
    width: 30%;
    min-width: 50px;
    margin-bottom: 2%;
    margin-right: 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.sign-up-form input,
.sign-up-form textarea {
    width: 50%;
    min-width: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.sign-up-form select {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.buttonContainer {
    max-width: 30%;
    margin: 0 auto;
}

.btn {
    width: 40%;
    margin-left: 20%;
    margin-bottom: 10%;
    padding: 2% 4%;
    background-color: #02B1A9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Montserrat", sans-serif;
}

    .btn:hover {
        background-color:   #666;
    }


/* ----CLASES PARA LA TABLA------- */
.table-container {
    width: 100%; 
    margin-top: 2%;
    text-align: center;
}

table {
    border-collapse: collapse;
    background-color: var(--whiteBackground);
    margin-left: 30%;
}

thead {
    background-color: var(--greenDark3);
    color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    border-bottom: 2px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

/*CLASES PARA EL CALENDARIO*/

calendar-container {
    max-width: 30%;
    padding: 2%;
    margin-top: 2%;
    text-align: center;
}

.appointDate {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

