html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: white;
}

    .header ul {
        list-style-type: none;
    }

    .header li {
        display: inline;
        margin-right: 20px;
    }

.ContLogoHeader {

}

.LogoSimecidHeader {
    width: 500px;
    height: 100px;
}

.login-btn {
    border: none;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
}
