@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* ---- CLASES GENERALES ---*/

:root {
    --greenMain-SideBar: #02b1a9; /* Fondo del sidebar */
    --whiteBackground: #ffffff; /* Fondo */
    --colorText: #333; /* Texto normal */
    --colorTextLight: #666; /* texto más claro */
    --colorLightGrey: #efefef; /* gris claro para distinguir del blanco */
    --greenLight1: #4ec8a4; /* Turqueza claro*/
    --greenMedium2: #2fa5a5; /* Turqueza medio */
    --greenDark3: #1f95a1; /* Turqueza Oscuro */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* para darle color a los titulos */
h1 {
    color: var(--greenMedium2);
}

/* para darle color a los textos */
p {
    color: var(--colorText);
    line-height: 1.6;
}

/* para darle formato a los titulos */
.fontTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* Utiliza el peso 600 para semi-bold */
    line-height: 1.2;
}

/* para darle formato a los textos */
.fontText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* Utiliza el peso 600 para regular */
    line-height: 1.2;
}

/* ----CLASES PARA EL SIDEBAR------- */
.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
    background: var(--greenMain-SideBar);
}

/*Contenedor del logo y el título */
.containerLogo {
    width: 99%;
    display: flex;
    align-items: center;
    background-color: var(--whiteBackground);
    border: 2px solid #02B1A9;
}

/* Estilos para el logo mini */
.logoMini {
    width: 40%;
    margin: 2%;
}

/*Contenedor del boton del icono y nombre del usuario, e icono de settings*/
.buttonUser {
    display: flex;
    margin-top: 1%;
    padding: 2%;
    text-align: left;
    color: var(--whiteBackground);
    background-color: var(--greenMain-SideBar);
    border: 2px solid var(--greenMain-SideBar); /* Aunque no se vea, No se debe borrar el borde, porque cambia los padding y entonces las cosas se mueven */
    border-radius: 5px;
}

    .buttonUser:hover {
        border: 2px solid var(--whiteBackground); /* Agrega un borde al botón en el hover */
    }

.containerUser {
    padding: 2%;
    width: 100%;
    display: flex;
    align-items: center;
}

.userIcon {
    width: 4vw;
    height: 4vw;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    overflow: hidden; /* Asegura que cualquier contenido adicional esté oculto dentro del círculo */
}

.userName {
    color: var(--whiteBackground);
    margin: 5%;
    font-size: 2vh;
}

.buttonSettings {
    display: flex;
    margin: 2%;
    color: var(--whiteBackground);
    background-color: var(--greenMain-SideBar);
    border: none;
    border: 2px solid var(--greenMain-SideBar); /* Aunque no se vea, No se debe borrar el borde, porque cambia los padding y entonces las cosas se mueven */
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 16px;
}

    .buttonSettings:hover {
        border: 2px solid var(--whiteBackground); /* Agrega un borde al botón en el hover */
    }

.settingsIcon {
    color: var(--whiteBackground);
    width: 4vw;
    height: 4vh;
}

/*Menu del sidebar*/
.MainMenu {
    padding: 2%;
}

.buttonMenu {
    font-family: "Montserrat", sans-serif;
    display: block;
    padding: 5%;
    font-size: 2vh;
    text-decoration: none;
    color: var(--whiteBackground);
    background-color: var(--greenMain-SideBar);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid var(--greenMain-SideBar); /* Aunque no se vea, No se debe borrar el borde, porque cambia los padding y entonces las cosas se mueven */
    transition: border 0.2s;
}

    .buttonMenu:hover {
        border: 2px solid var(--whiteBackground); /* Agrega un borde al botón en el hover */
    }

.sidebarFooter {
    position: center;
    padding: 10%;
    font-size: 12px;
    color: white;
}

/*------- CLASES PARA EL CONTENIDO PRINCIPAL -----*/

.main-content {
    flex: center;
    width: 70%;
    margin-left: 20%;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* Otros estilos según tus preferencias */
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    /* Otros estilos según tus preferencias */
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 30px; /* Ajusta este valor según tu preferencia */
    overflow: hidden;
    margin-left: -10%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}

th {
    background-color: #02b1a9;
    color: aliceblue;
}

.table-active,
.table-primary,
.table-secondary,
.table-success,
.table-danger,
.table-warning,
.table-info,
.table-light,
.table-dark {
    background-color: rgba(255, 255, 255, 0.075);
}

.container1 {
    margin-left: 28%;
    margin-top: 5%;
}

.container2 {
    margin-left: 28%;
    margin-top: 5%;
    margin-bottom: 25px;
}

.container3 {
    margin-left: 45%;
    margin-top: 5%;
}
.container4 {
    margin-left: 45%;
    margin-top: 5%;
}

h1 {
    margin-left: 20%;
}

.title1 {
    color: #4ec8a4;
    margin-left: 26%;
}

.title2 {
    color: #1f95a1;
}

.spaceP {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

p {
    display: inline-block;
    width: 23%; /* Ajusta este valor según sea necesario */
    margin-left: -4%;
    font-size: large;
}

h3 {
    color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-bottom: 1%;
    font-weight: normal;
}

.button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: lighter;
    font-size: 20px;
}

h2 {
    color: #02b1a9;
}

.form {
    width: 300px;
    margin-top: 30px;
}

.form-field {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

    .form-field label {
        display: flex;
        width: 100px;
        margin-left: 10px;
        text-align: right;
    }

    .form-field input[type="text"] {
        flex: 1;
        padding: 5px;
        margin-left: 1%;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        width: 200px;
    }

.form-buttons {
    margin-top: 10px;
}

.form-buttons {
    display: flex; /* Utilizamos flexbox */
    justify-content: flex-start; /* Los botones se alinearán al principio */
    margin-top: 50px; /* Ajustamos el margen superior si es necesario */
    margin-left: -20px;
    margin-bottom: 5%;
}

    .form-buttons button {
        margin-left: 10px; /* Espacio entre los botones */
        border-radius: 5px;
        padding: 10px 20px; /* Ajusta estos valores para hacer los botones más grandes */
        cursor: pointer;
    }

.subtitle {
    margin-left: 18%;
    font-size: 18px;
}

.details {
    margin-left: 2.5%;
}

.inputCreated {
    flex: 1;
    padding: 5px;
    margin-left: 1%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 200px;
}

.password {
    flex: 1;
    padding: 5px;
    margin-left: 1%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 200px;
}