@page
@model WebApp.Pages.AdminReportsModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link href="~/css/adminreports.css" rel="stylesheet" />
    
    <title>SimecidApp</title>

</head>

<!------- SIDEBAR ------>
<div class="sidebar">
    <!------- Logo y titulo ------>
    <div class="containerLogo">
        <img src="~/Assets/LogoSIMECID.png" class="logoMini" />
    </div>
    <!------- Icono y nombre del usuario, e icono de settings------>
    <div class="containerUser">
        <!--Boton para ver el perfil de usuario (no es lo mismo que gestion de users)-->
        <form asp-page="/UserProfile">
            <button class="buttonUser">
                <img src="~/assets/defaultpictureprofile.png" class="userIcon" />
                <div class="fontTitle userName">Profile</div>
            </button>
        </form>
        <!--Boton para ir a los settings-->
        <form asp-page="/AdminSettings">
            <button class="buttonSettings">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-gear-fill settingsIcon" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                </svg>
            </button>
        </form>
    </div>

    <div class="MainMenu">
        <form asp-page="/AppointmentManager">
            <button class="buttonMenu" id="appointmentsMenuId">Appointments</button>
        </form>
        <form asp-page="/ServiceManagment">
            <button class="buttonMenu" id="servicesMenuId">Services</button>
        </form>
        <form asp-page="/BranchManagment">
            <button class="buttonMenu" id="branchesMenuId">Branches</button>
        </form>
        <form asp-page="/UserManagement">
            <button class="buttonMenu" id="">Users</button>
        </form>
        <form asp-page="/">
            <button class="buttonMenu" id="paymentMenuId">Payment</button>
        </form>
        <form asp-page="/ExaminationManagment">
            <button class="buttonMenu" id="examinationMenuId">Examination</button>
        </form>
        <form asp-page="/PrescriptionManagment">
            <button class="buttonMenu" id="prescriptionsMenuId">Prescriptions</button>
        </form>
        <form asp-page="/MedicalReportManagment">
            <button class="buttonMenu" id="medicalReportMenuId">Medical Report</button>
        </form>
        <div class="sidebarFooter">2024 Codecrafters All Right Reserved to </div>
    </div>

</div>

<!------- CONTENIDO PRINCIPAL --------->
<body class="main-content">
    
    <div class="gestionDePerfilDeUsuario">
        <h1 class="fontTitle">Reports</h1>
        <form class="form-container">
            <div class="reportFinanceTable">
                <p class="UserDetails">Finance report</p>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr id="idReport">
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Descripción</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="fila1">
                                <td>1</td>
                                <td>2024-01-15</td>
                                <td>Compra de suministros</td>
                                <td>$500.00</td>
                            </tr>
                            <tr id="fila2">
                                <td>2</td>
                                <td>2024-02-10</td>
                                <td>Pago de factura de electricidad</td>
                                <td>$200.00</td>
                            </tr>
                            <tr id="fila3">
                                <td>3</td>
                                <td>2024-03-05</td>
                                <td>Ingreso por ventas</td>
                                <td>$1500.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="reportAppointmentsTable">
                <div class="table-container">
                    <p class="UserDetails">Appointments report</p>
                    <table>
                        <thead>
                            <tr id="idReport">
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Descripción</th>
                                <th>Doctor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="fila1">
                                <td>1</td>
                                <td>2024-01-15</td>
                                <td>Consulta general</td>
                                <td>Dr. Smith</td>
                            </tr>
                            <tr id="fila2">
                                <td>2</td>
                                <td>2024-02-10</td>
                                <td>Examen de sangre</td>
                                <td>Dr. Johnson</td>
                            </tr>
                            <tr id="fila3">
                                <td>3</td>
                                <td>2024-03-05</td>
                                <td>Control de presión arterial</td>
                                <td>Dr. Williams</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="buttonContainer">
            <div class="sign-up-form">
                <label for="downloadReport">Report</label><br>
                <select id="downloadReport" name="downloadReport" required>
                    <option value="" disabled selected hidden>Select</option>
                    <option value="pdf">Finance</option>
                    <option value="jpg">Appointments</option>
                </select><br><br>
            </div>
            <div class="sign-up-form">
                <label for="name">Report Name</label><br>
                <input type="text" id="name" name="name" required><br><br>
            </div>
            <button class="btn" type="submit">Download</button>

        </div>
    </div>
</body>
</html>


