@page
@model WebApp.Pages.BranchManagmentModel
@{
    Layout = null;
}



<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="~/assets/2_logosimecid.png" type="image/x-icon" />
    <title>SideBarTemplate</title>
    <link href="~/css/branchmanagment.css" rel="stylesheet" />
</head>



<!------- CONTENIDO PRINCIPAL --------->
<body>
    <div class="main-content">

        <!------- SIDEBAR ------>
        <div class="sidebar">
            <!------- Logo y titulo ------>
            <div class="containerLogo">
                <img src="~/Assets/LogoSIMECID.png" class="logoMini" />
            </div>
            <!------- Icono y nombre del usuario, e icono de settings------>
            <div class="containerUser">
                <!--Boton para ver el perfil de usuario (no es lo mismo que gestion de users)-->
                <button class="buttonUser">
                    <img src="~/Assets/1st_Girl.png" class="userIcon" />
                    <div class="fontTitle userName">Emily Sanchez</div>
                </button>
                <!--Boton para ir a los settings-->
                <button class="buttonSettings">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-gear-fill settingsIcon" viewBox="0 0 16 16">
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                </button>
            </div>

            <div class="MainMenu">
                <button class="buttonMenu" id="appointmentsMenuId">Appointments</button>
                <button class="buttonMenu" id="servicesMenuId">Services</button>
                <button class="buttonMenu" id="branchesMenuId">Branches</button>
                <button class="buttonMenu" id="usersMenuId">Users</button>
                <button class="buttonMenu" id="paymentMenuId">Payment</button>
                <button class="buttonMenu" id="examinationMenuId">Examination</button>
                <button class="buttonMenu" id="prescriptionsMenuId">Prescriptions</button>
                <button class="buttonMenu" id="medicalReportMenuId">Medical Report</button>
                <div class="sidebarFooter">2024 Codecrafters All Right Reserved to </div>
            </div>

        </div>

        <div class="container1">
            <h1 class="title1">All your Branches</h1>

            <div class="spaceP">
                <p>Select one</p>
                <p>Create new</p>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">Primary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">Secondary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">Success</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Danger</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">Warning</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">Info</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">Light</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-dark">
                        <th scope="row">Dark</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container3">
            <h1 class="details">Branch Details</h1>

            <div class="form">
                <form action="/action_pageExample.php">
                    <div class="form-field">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="">
                    </div>
                    <div class="form-field">
                        <label class="adress" for="adress">Adress</label>
                        <input type="text" id="adress" name="adress" value="">
                    </div>
                    <div class="form-field">
                        <label class="description" for="description">Description</label>
                        <input type="text" id="description" name="description" value="">
                    </div>
                    <div class="form-field">
                        <label for="created">Created</label>
                        <input class="inputCreated" type="date" id="created" name="created" value="">
                    </div>

                    <div class="form-buttons">
                        <button type="submit">Update</button>
                        <button type="submit">Delete</button>
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="ContGeneralMapa">
            <div class="SubtituloMap">
                <p>Your branch on the map</p>
            </div>

            <div class="SubCont-Mapa">
                <iframe class="ClassMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.0308362318033!2d-84.06672232416749!3d9.931389874209883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3f13462cc7b%3A0x97219232a6ee2da8!2sUniversidad%20CENFOTEC!5e0!3m2!1ses!2scr!4v1711578817773!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="container2">
            <h1 class="title2">Services at your branch</h1>



            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">Primary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">Secondary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">Success</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Danger</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">Warning</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">Info</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">Light</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-dark">
                        <th scope="row">Dark</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>


</body>
</html>
