@page
@model WebApp.Pages.CodeVerificationModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/code-verification.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/signup.js"></script>
    <script src="~/js/controlactions.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>Code Verification</title>
</head>
<body>
    <div class="container">
        <div class="split left">
            <footer>
                <p>&copy; 2024 CodeCrafters. All rights reserved.</p>
            </footer>
        </div>

        <div class="split right">
            <span class="topSignUp">
                <img src="~/assets/logo-white.png" />
                <h1>SIMECID</h1>
            </span>
            <h2>
                Enter your
                verification code
            </h2>

            <form class="form-container">
                <div class="sign-up-form">
                    <label for="text">OTP  </label>
                    <input type="text" id="txtOTP" name="otp" required>
                </div>
                <form asp-page="/Login">
                 <button class="btn" type="button" id="verifyMe" style="margin-left: 350px;">Verify Me</button>
                </form>
                @* <a class="btn" style="margin-left: 350px;" asp-area="" asp-page="/Login">Verify Me</a> *@
            </form>
        </div>
    </div>
    <script src=""></script>
</body>
</html>
