@page
@model WebApp.Pages.Doctor_ExaminationModel
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>SimecidApp</title>
    <link href="~/css/examinationmanagment.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
    <script src="~/js/controlactions.js"></script>
</head>

<!------- SIDEBAR ------>
<div class="sidebar">
    <!------- Logo y titulo ------>
    <div class="containerLogo">
        <img src="~/Assets/LogoSIMECID.png" class="logoMini" />
    </div>
    <!------- Icono y nombre del usuario, e icono de settings------>
    <div class="containerUser">
        <!--Boton para ver el perfil de usuario (no es lo mismo que gestion de users)-->
        <button class="buttonUser" id="profileMenuId">
            <img src="~/assets/defaultpictureprofile.png" class="userIcon" />
            <div class="fontTitle userName">Profile</div>
        </button>
        <!--Boton para ir a los settings-->
        <button class="buttonSettings" id="settingMenuId">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-gear-fill settingsIcon" viewBox="0 0 16 16">
                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
            </svg>
        </button>
    </div>

    <div class="MainMenu">
        <div class="MainMenu">

            <button class="buttonMenu" id="appointmentsMenuId">Appointments</button>

            <button class="buttonMenu" id="examinationMenuId">Examination</button>

            <button class="buttonMenu" id="prescriptionsMenuId">Prescriptions</button>

            <button class="buttonMenu" id="medicalReportMenuId">Medical Report</button>

        </div>
        <div class="sidebarFooter">2024 Codecrafters All Right Reserved to </div>
    </div>

</div>

<!--CONTENIDO PRINCIPAL-->
<body class="main-content">

    <div class="profileHeader">
    </div>

    <div class="gestionDePerfilDeUsuario" style="margin-top:5%">
        <h1 class="fontTitle">Patient Details</h1>

        <!--TABLA DE PACIENTES-->
        <div class="row" style="margin-left: 20%">
            <div class="col-lg-12">
                <table id="tblPatientInfo" class="table table-hover" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>PhoneNumber</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Province</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <!--FORMULARIO-->
    <div class="gestionDePerfilDeUsuario">
        <form class="form-container">
            <h1 class="fontTitle">Exam Parameters</h1>

            <div class="sign-up-form">
                <label for="patientId">Patient Id</label><br>
                <input type="text" id="patientId" name="patientId" required><br><br>
            </div>

            <div class="sign-up-form">
                <label for="Id">Examn Id</label><br>
                <input type="number" id="TxtmedicalExamId" name="Id" required><br><br>
            </div>

            <div class="sign-up-form">
                <label for="Type">Type</label><br>
                <select id="TxtexamType" name="Type" required>
                    <option value="" disabled selected>Seleccionar tipo de examen</option>
                    <option value="Colonoscopia">Colonoscopia</option>
                    <option value="Endoscopia">Endoscopia</option>
                    <option value="Electroencefalograma (EEG)">Electroencefalograma (EEG)</option>
                    <option value="Hemograma completo (CBC)">Hemograma completo (CBC)</option>
                    <option value="Perfil lipídico">Perfil lipídico</option>
                    <option value="Perfil metabólico completo">Perfil metabólico completo</option>
                    <option value="Prueba de función renal">Prueba de función renal</option>
                    <option value="Prueba de función hepática">Prueba de función hepática</option>
                    <option value="Prueba de glucosa en sangre">Prueba de glucosa en sangre</option>
                    <option value="Prueba de A1C (para diabetes)">Prueba de A1C (para diabetes)</option>
                    <option value="Prueba de tiroides (TSH, T4)">Prueba de tiroides (TSH, T4)</option>
                    <option value="Examen de detección de cáncer">Examen de detección de cáncer</option>
                    <option value="Pruebas de detección de ETS">Pruebas de detección de ETS</option>
                    <option value="Evaluación de riesgo cardiovascular">Evaluación de riesgo cardiovascular</option>
                    <option value="Radiografía">Radiografía</option>
                    <option value="Ecografía">Ecografía</option>
                    <option value="Resonancia magnética (RM)">Resonancia magnética (RM)</option>
                    <option value="Tomografía computarizada (TC)">Tomografía computarizada (TC)</option>
                    <option value="Mamografía">Mamografía</option>
                    <option value="Densitometría ósea">Densitometría ósea</option>
                    <option value="Electrocardiograma (ECG/EKG)">Electrocardiograma (ECG/EKG)</option>
                </select>
            </div>


            <!--Aqui pide la fecha que no se pueda en el pasado-->
            <div class="sign-up-form">
                <label class="birthdate" for="date">Date</label><br>
                <input type="datetime-local" id="TxtexamDate" name="date" required><br><br>
            </div>
            <script>
                // Obtener la fecha de hoy en formato yyyy-mm-dd
                var today = new Date().toISOString().split('T')[0];

                // Establecer el atributo min del input date para que no se pueda seleccionar una fecha anterior a hoy
                document.getElementById("TxtexamDate").setAttribute("min", today);
            </script>

            <div class="sign-up-form">
                <label for="weight">Weight Kg</label><br>
                <input type="text" id="Txtweight" name="weight" required><br><br>
            </div>

            <div class="sign-up-form">
                <label for="size">Size Mts</label><br>
                <input type="text" id="Txtsize" name="size" required><br><br>
            </div>

            <!--MASA CORPORAL (PESO)-->
            <div class="sign-up-form">
                <label for="bodyMass">Body mass (IMC)</label><br>
                <select id="TxtbodyMass" name="bodyMass" required>
                    <option value="IMC inferior a 18.5: Bajo peso">IMC inferior a 18.5: Bajo peso</option>
                    <option value="IMC entre 18.5 y 24.9: Peso normal">IMC entre 18.5 y 24.9: Peso normal</option>
                    <option value="IMC entre 25.0 y 29.9: Sobrepeso">IMC entre 25.0 y 29.9: Sobrepeso</option>
                    <option value="IMC entre 30.0 y 34.9: Obesidad clase 1">IMC entre 30.0 y 34.9: Obesidad clase 1</option>
                    <option value="IMC entre 35.0 y 39.9: Obesidad clase 2">IMC entre 35.0 y 39.9: Obesidad clase 2</option>
                    <option value="IMC de 40 o más: Obesidad clase 3 (mórbida)">IMC de 40 o más: Obesidad clase 3 (mórbida)</option>
                </select><br><br>
            </div>



            <div class="sign-up-form">
                <label for="Notes">Notes</label><br>
                <textarea id="Txtdetails" name="Notes" required></textarea><br><br>
            </div>

            <div class="sign-up-form">
                <label for="examResults">Enter exam results</label><br>
                <textarea id="Txtresult" name="examResults" required></textarea><br><br>
            </div>

            @* <div class="sign-up-form">
            <label for="photoOrFile">Upload a photo or file</label><br>
            <input type="text" id="" name="photoOrFile" required><br><br>
            </div> *@

            <div style="display:flex">
                <button class="btn" type="button" id="btnCreate" style="margin-top: 6%">Create</button>
                <button class="btn" type="button" id="btnUpdate" style="margin-top: 6%">Update</button>
                <button class="btn" type="button" id="btnDelete" style="margin-top: 6%">Delete</button>
            </div>
        </form>
    </div>


    <div class="gestionDePerfilDeUsuario" style="margin-top:5%">
        <h1 class="fontTitle">Exam History</h1>
        <!--MEDICAL EXAM TABLE-->
        <div class="row" style="margin-left: 20%">
            <div class="col-lg-12">
                <table id="tblMedicalExam" class="table table-hover" class="display" style="width:100%" style="margin-bottom:5%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>PatientId</th>
                            <th>Exam type</th>
                            <th>Exman date</th>
                            <th>Notes</th>
                            <th>Weight</th>
                            <th>Size</th>
                            <th>Body mass</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <script src="~/js/pages/medicalexam.js"></script>
    <script src="~/js/redirect/doctorredirect.js"></script>
	<script src="~/js/pages/doctordata.js"></script>

</body>
</html>