@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 800 bold;
        font-size:300;
        color: white
    }

    a {
        cursor: pointer;
        color: black;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Start your Journey!</h1>
    <a asp-area="" asp-page="/LandingPageSIMECID">Click here</a>
</div>

