@page
@model WebApp.Pages.LandingPageSIMECIDModel
@{
}


<link href="~/css/landingpagesimecid.css" rel="stylesheet" />


<header>
    <div class="header">
        <ul>
            <li>Home</li>
            <li>About us</li>
            <li>FAQ</li>
        </ul>
        <div class="ContLogoHeader"><img class="LogoSimecidHeader" src="~/images/logosimecid.png" /> </div>
        <button class="login-btn">Log in</button>
    </div>

</header>

