@page
@model WebApp.Pages.NewPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/new-password.css" />
    <title>Recover your password</title>
</head>
<body>
    <div class="container">
        <div class="split left">
            <footer>
                <p>&copy; 2024 CodeCrafters. All rights reserved.</p>
            </footer>
        </div>

        <div class="split right">
            <span class="topSignUp">
                <img src="~/assets/logo-white.png" />
                <h1>SIMECID</h1>
            </span>
            <h2>Recover your password</h2>

            <form class="form-container" id="newPassForm">
                <div class="sign-up-form">
                    <label for="new-pass" style="margin-top: 100px;">New password</label>
                    <input type="password" id="new-pass" name="new-pass" required style="margin-top: 100px;">
                </div>

                <div class="sign-up-form">
                    <label id="new-pass" for="conf-pass">Confirm new password</label><br>
                    <input type="password" id="conf-pass" name="conf-pass" required><br><br>
                </div>

                <a id="go" type="submit" class="btn" style="margin-left: 350px;" asp-area="" asp-page="/Login">Go!</a>
                <button id="go" class="btn" type="submit" style="margin-left: 350px;">Go!</button>
            </form>
        </div>
    </div>
    <script src="/js/newPasswordOTP.js"></script>
</body>
</html>
