@page
@model WebApp.Pages.RecoverPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/recover-pass.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/controlactions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/login.js"></script>
    <title>SimecidApp</title>
</head>
<body>
    <div class="container">
        <div class="split left">
            <footer>
                <p>&copy; 2024 CodeCrafters. All rights reserved.</p>
            </footer>
        </div>

        <div class="split right">
            <span class="topSignUp">
                <img src="/Assets/logo-white.png" />
                <h1>SIMECID</h1>
            </span>
            <h2>
                Recover your
                password
            </h2>
            <form>
            <span class="txtPwd">
                <p>Enter the code we sent to yor email</p>
            </span>
            <input class="OtpRecPwd" type="text" id="txtOTP" name="otp" required>


                <button type="button" id="btnTry2" class="btn" style="margin-left:350px">Try</button>
            @* <a class="btn" style="margin-left: 350px;" asp-area="" asp-page="/NewPassword">Try</a> *@
            </form>

            @* <form asp-page="/NewPassword">
                    <button id="btnTry2" class="btn" style="margin-left:350px" type="button">Try</button>
                </form> *@
        </div>

  
    </div>
</body>
</html>