@page
@model WebApp.Pages.ServiceManagmentModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="~/assets/2_logosimecid.png" type="image/x-icon" />
    <title>User Management</title>
    <link href="/css/user-management.css" rel="stylesheet" />
</head>

<!------- SIDEBAR ------>
<div class="sidebar">
    <!------- Logo y titulo ------>
    <div class="containerLogo">
        <img src="~/Assets/LogoSIMECID.png" class="logoMini" />
    </div>
    <!------- Icono y nombre del usuario, e icono de settings------>
    <div class="containerUser">
        <!--Boton para ver el perfil de usuario (no es lo mismo que gestion de users)-->
        <form asp-page="/UserProfile">
            <button class="buttonUser">
                <img src="/Assets/1st_Girl.png" class="userIcon" />
                <div class="fontTitle userName">Emily Sanchez</div>
            </button>
        </form>
        <!--Boton para ir a los settings-->
        <form asp-page="/AdminSettings">
            <button class="buttonSettings">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-gear-fill settingsIcon" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                </svg>
            </button>
        </form>
    </div>

    <div class="MainMenu">
        <form asp-page="/AppointmentManager">
            <button class="buttonMenu" id="appointmentsMenuId">Appointments</button>
        </form>
        <form asp-page="/ServiceManagment">
            <button class="buttonMenu" id="servicesMenuId">Services</button>
        </form>
        <form asp-page="/BranchManagment">
            <button class="buttonMenu" id="branchesMenuId">Branches</button>
        </form>
        <form asp-page="/UserManagement">
            <button class="buttonMenu" id="">Users</button>
        </form>
        <form asp-page="/">
            <button class="buttonMenu" id="paymentMenuId">Payment</button>
        </form>
        <form asp-page="/ExaminationManagment">
            <button class="buttonMenu" id="examinationMenuId">Examination</button>
        </form>
        <form asp-page="/PrescriptionManagment">
            <button class="buttonMenu" id="prescriptionsMenuId">Prescriptions</button>
        </form>
        <form asp-page="/MedicalReportManagment">
            <button class="buttonMenu" id="medicalReportMenuId">Medical Report</button>
        </form>
        <div class="sidebarFooter">2024 Codecrafters All Right Reserved to </div>
    </div>

</div>

<body>
    <div class="main-content">
        <div class="container1">
            <h1 class="title1">User Managment</h1>
        </div>

        <div class="container2">
            <h1 class="title2" style="margin-left:32%">User List</h1>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">Primary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">Secondary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">Success</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Danger</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">Warning</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">Info</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">Light</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-dark">
                        <th scope="row">Dark</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container2" style="margin-left:47%">
            <h1 class="details">User details</h1>

            <div class="form">
                <form action="/action_page.php">
                    <div class="form-field">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="">
                    </div>
                    <div class="form-field">
                        <label for="name">Last Name</label>
                        <input type="text" id="last-name" name="last-name" value="">
                    </div>
                    <div class="form-field">
                        <label for="phone-number" style="text-align:left">Phone Number</label>
                        <input type="text" id="phone-number" name="phone-number" value="">
                    </div>
                    <div class="form-field">
                        <label class="email" for="email">Email</label>
                        <input type="text" id="email" name="email" value="">
                    </div>
                    <div class="form-field">
                        <label for="name">Password</label>
                        <input class="password" type="password" id="password" name="password" value="">
                    </div>
                    <div class="form-field">
                        <label for="sex">Gender</label><br>
                        <select class="password" id="sex" name="sex" style="width: 20vw; height: 3vh;" required>
                            <option value="" disabled selected hidden></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select><br><br>
                    </div>
                    <div class="form-field">
                        <label for="role">Role</label>
                        <input type="text" id="role" name="role" value="">
                    </div>
                    <div class="form-field">
                        <label for="status">Status</label>
                        <input type="text" id="status" name="status" value="">
                    </div>
                    <div class="form-field">
                        <label for="birthdate">Birth Date</label>
                        <input class="password" type="date" id="birthdate" name="birthdate" style="width: 20vw; height: 3vh;" required>
                    </div>
                    <div class="form-field">
                        <label for="address">Address</label><br>
                        <textarea class="password" id="address" name="address" required style="width: 600px; height: 48px;"></textarea>
                    </div>
                        <div class="form-buttons" style="margin-right: 100px">
                        <button class="button" type="submit" style="margin-left:100px">Update</button>
                        <button class="button" type="submit">Delete</button>
                        </div>
                </form>
            </div>
        </div>


        <div class="container1" style="margin-left:44%">
            <h1 class="details">Employee Managment</h1>
            <div class="form">
                <form action="/action_page.php">
                    <div class="form-field">
                        <label for="employees">Employees</label>
                        <input type="text" id="employees" name="employees" value="">
                        </div>
                </form>
            </div>
        </div>

        <div class="container2">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">Primary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">Secondary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">Success</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Danger</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">Warning</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">Info</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">Light</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-dark">
                        <th scope="row">Dark</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container2" style="margin-left:45%">
            <div class="form">
                <form action="/action_page.php">
                    <div class="form-field">
                        <label for="employeeId">Employee <br /> id</label>
                        <input type="text" id="employeeId" name="employeeId" value="">
                    </div>

                    <div class="form-field">
                        <label for="employeeName">Employee name</label>
                        <input type="text" id="employeeName" name="employeeName" value="">
                    </div>

                    <div class="form-field">
                        <label for="employeeLastName">Employee last name</label>
                        <input type="text" id="employeeLastName" name="employeeLastName" value="">
                    </div>

                    <div class="form-field">
                        <label for="branch">Branch</label>
                        <input type="text" id="branch" name="branch" value="">
                    </div>

                    <div class="form-field">
                        <label for="schedule">Schedule</label>
                        <input type="text" id="schedule" name="schedule" value="">
                    </div>

                    <div class="form-buttons" style="margin-right: 50%">
                        <button class="button" type="submit" style="margin-left:100px">Update</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container2">
            <h1 style="margin-left: 25%;" class="details">Add Doctor Speciality</h1>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">Primary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">Secondary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">Success</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Danger</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">Warning</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">Info</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">Light</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-dark">
                        <th scope="row">Dark</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container2" style="margin-left:45%">

            <div class="form">
                <form action="/action_page.php">
                    <div class="form-field">
                        <label for="employeeId">Employee <br /> id</label>
                        <input type="text" id="employeeId" name="employeeId" value="">
                    </div>

                    <div class="form-field">
                        <label for="employeeName">Employee name</label>
                        <input type="text" id="employeeName" name="employeeName" value="">
                    </div>

                    <div class="form-field">
                        <label for="employeeLastName">Employee last name</label>
                        <input type="text" id="employeeLastName" name="employeeLastName" value="">
                    </div>

                    <div class="form-field">
                        <label for="specialty">Specialty</label>
                        <input type="text" id="specialty" name="specialty" value="">
                    </div>

                    <div class="form-buttons" style="margin-right: 100px">
                        <button class="button" type="submit" style="margin-left:100px">Update</button>
                    </div>
                </form>
            </div>

        </div>
           

     </div>

</body>
</html>